<div class="container">
  <div class="left-side-content">
    <div class="guide-icon-button">
      <button class="guide-button">
        <img src="../../../assets/images/menu-icon.svg" />
      </button>
    </div>
    <div class="yt-logo">
      <a class="logo-link">
        <div>
          <img
            class="logo-img"
            src="../../../assets/images/yt_logo_rgb_dark.png"
          />
        </div>
      </a>
    </div>
  </div>
  <div class="center-content">
    <div class="search-form-container" role="search">
      <form class="search-box">
        <div class="seach-input-warpper">
          <input
            type="text"
            autocapitalize="none"
            autocomplete="off"
            tabindex="0"
            placeholder="検索"
            spellcheck="false"
            role="combobox"
            aria-label="検索"
            aria-autocomplete="list"
            dir="ltr"
            class="search-text-input"
          />
        </div>
        <button class="search-button-container">
          <div class="search-icon">
            <mat-icon [ngStyle]="{ color: 'white' }">search</mat-icon>
          </div>
        </button>
      </form>
    </div>
    <div class="voice-search-wrapper">
      <div class="voice-search-button-wrapper">
        <a class="voice-search-link">
          <div class="voice-search-button-container">
            <button class="voice-search-button" aria-label="音声で検索">
              <mat-icon [ngStyle]="{ color: 'white' }">mic</mat-icon>
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="right-side-content"></div>
</div>
