<div class="container">
  <div class="left-side-content">
    <div class="guide-icon-button">
      <button class="guide-button">
        <img src="../../../assets/images/menu-icon.svg" />
      </button>
    </div>
    <div class="yt-logo">
      <a class="logo-link">
        <div>
          <img
            class="logo-img"
            src="../../../assets/images/yt_logo_rgb_dark.png"
          />
        </div>
      </a>
    </div>
  </div>
  <div class="center-content"></div>
  <div class="right-side-content"></div>
</div>
